body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

#messageContainer {
	padding: 10px;
}

.usernameDiv, .msgDiv {
	display: inline-block;
}

.usernameDiv {
	padding-right: 10px;
}

#messageCrafting {
	position: absolute;
	background-color: #2c91a6;
	width: 98%;
	padding: 1%;
	bottom: 0;
}

#messageCrafting input, #messageCrafting button {
	border-radius: 2px;
	border: 0;
	font-size: 1.2em;
	padding: 10px;
	margin-right: 2px;
}